[submodule "MyView/vendor/spdlog"]
	path = MyView/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "MyView/vendor/GLFW"]
	path = MyView/vendor/GLFW
	url = https://github.com/PolinaPolupan/glfw
	branch = main
[submodule "MyView/vendor/imgui"]
	path = MyView/vendor/imgui
	url = https://github.com/PolinaPolupan/imgui
	branch = docking
[submodule "MyView/vendor/glm"]
	path = MyView/vendor/glm
	url = https://github.com/g-truc/glm
